<title>DrTinder WebService</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/scripts/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
<script type="text/javascript" src="/scripts/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/tabla.css" />