[submodule "source/libs/rocksdb"]
	path = source/libs/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "source/libs/jsoncpp"]
	path = source/libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "source/libs/googletest"]
	path = source/libs/googletest
	url = https://github.com/google/googletest
[submodule "source/libs/restclient-cpp"]
	path = source/libs/restclient-cpp
	url = https://github.com/mrtazz/restclient-cpp.git
