source/Servidor/.idea/
source/Servidor/CMakeFiles/
source/Servidor/users/
source/Servidor/CMakeCache.txt
source/Servidor/server
source/Servidor/Makefile
source/.cproject
source/.project
source/Servidor/cmake_install.cmake
source/Servidor/Test
source/Servidor/coverage
source/Servidor/logs/
source/Servidor/TestDB/
source/Servidor/TestUserDB/
source/Servidor/chatDB/
source/Servidor/likesDB/
source/Servidor/usersDB/
source/Servidor/ChatTestDB/
*~
